<table>
  <thead>
    <tr>
      <th>District Name</th>
      <th>Abbreviation</th>
      <th>Winner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% election_districts.each do |ed| %>
      <tr>
        <% if (defined?(@election.year)).nil? %>
          <td><%= link_to ed.district.name, "/district/#{ed.district.slug}" %></td>
        <% else %>
          <td><%= link_to ed.district.name, "/district/#{ed.district.slug}/#{@election.year}" %></td>
        <% end %>
        <td><%= ed.district.abbr %></td>
        <td><i class="fa fa-square" aria-hidden="true" style="color:<%= ed.winner.party.color %>"></i> <%= ed.winner.name %><td>
      </tr>
    <% end %>
  </tbody>
</table>