<div class="district-history">

  <% @district_history.each do |district_year| %>
    <div class="district-year">
      <%= district_year[:district].election.year %> - <%= district_year[:district].district.name %>
      <br>
      <div class="district-candidates">
        <table>
          <thead>
            <th>Candidate</th>
            <th>Party</th>
            <th>Total Votes</th>
            <th>Percent</th>
          </thead>
          <% district_year[:candidates].each do |ced| %>
            <tr>
              <td><%= ced.candidate.name %></td>
              <td><%= ced.candidate.party.abbr %></td>
              <td><%= ced.votes_total %></td>
              <td><%= ced.votes_percent %>%</td>
            </tr>
          <% end %>
        </table>
      </div>

      <% if district_year[:district].voters_registered %>
        <% voter_turnout = ((district_year[:district].total_votes).to_i / (district_year[:district].voters_registered).to_i) * 100.00 %>
        <% tv = district_year[:district].total_votes.to_f %>
        <% vr = district_year[:district].voters_registered.to_f %>
        <% voter_turnout = ((tv / vr) * 100.00).round(2) %>
        <div class="district-stats">
          <table>
            <tr>
              <th>Winner</th>
              <td><%= "#{district_year[:candidates][0].candidate.name} (#{district_year[:candidates][0].candidate.party.abbr})" %></td>
            </tr>
            <tr>
              <th>Voter Turnout</th>
              <td><%= voter_turnout %>%</td>
            </tr>
            <tr>
              <th>Registered Voters</th>
              <td><%= district_year[:district].voters_registered %></td>
            </tr>
            <tr>
              <th>Total Votes</th>
              <td><%= district_year[:district].total_votes %></td>
            </tr>

            <tr>
              <th>Ballots Valid</th>
              <td><%= district_year[:district].ballots_valid %></td>
            </tr>
            <tr>
              <th>Ballots Rejected</th>
              <td><%= district_year[:district].ballots_rejected %></td>
            </tr>
          </table>
        </div>
      <% end %>

    </div>
    <br>
  <% end %>
</div>