<div class="candidate-tables">
  <% @district_history.each do |district_year| %>
    <div class="candidates-table district-data show-<%= district_year[:district].election.year %>">
      <%= district_year[:district].election.year %> - <%= district_year[:district].district.name %>
      <br>
      <div class="district-candidates">
        <table>
          <thead>
            <th>Candidate</th>
            <th>Party</th>
            <th>Total Votes</th>
            <th>Percent</th>
          </thead>
          <% district_year[:candidates].each do |ced| %>
            <tr>
              <td><%= ced.candidate.name %></td>
              <td><%= ced.candidate.party.abbr %></td>
              <td><%= ced.votes_total %></td>
              <td><%= ced.votes_percent %>%</td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>