<div class="district-index-table">
  <h5><%= year %> Districts</h5>
  <%= link_to "Back to Top", "#top", class: 'button back-to-top' %>
  <table>
    <thead>
      <tr>
        <th>District Name</th>
        <th>Abbr.</th>
        <% if election_districts[0].winner %>
          <th>Winner</th>
          <th>Party</th>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% election_districts.each do |ed| %>
        <tr>
          <td><%= link_to ed.district.name, "/district/#{ed.district.slug}/#{year}" %></td>
          <td><%= ed.district.abbr %></td>
          <% if election_districts[0].winner %>
            <td> <%= ed.winner.name %></td>
            <td><i class="fa fa-square" aria-hidden="true" style="color:<%= ed.winner.party.color %>"></i> <%= ed.winner.party.abbr %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>