<h5><%= year %> Districts</h5>
<%= link_to "Back to Top", "#top", class: 'button back-to-top' %>
<table>
  <thead>
    <tr>
      <th>District Name</th>
      <th>Abbreviation</th>
      <% if year != Election.current_election_year %>
        <th>Winner</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% election_districts.each do |ed| %>
      <tr>
        <td><%= link_to ed.district.name, "/district/#{ed.district.slug}/#{year}" %></td>
        <td><%= ed.district.abbr %></td>
        <% if year != Election.current_election_year %>
          <td><i class="fa fa-square" aria-hidden="true" style="color:<%= ed.winner.party.color %>"></i> <%= ed. winner.name %><td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
