<div class="candidate-tables">
  <% @district_history.each do |district_year| %>
    <div class="candidates-table district-data show-<%= district_year[:district].election.year %>">
      <br>
      <div class="district-candidates">
        <table width="100%">
          <thead>
            <th width="40%">Candidate</th>
            <th width="20%">Party</th>
            <th width="20%">Total Votes</th>
            <th width="20%">Percent</th>
          </thead>
          <% district_year[:candidates].each do |ced| %>
            <tr>
              <td><%= ced.candidate.name %></td>
              <td><%= ced.candidate.party.abbr %></td>
              <td><%= ced.votes_total %></td>
              <td><%= ced.votes_percent %>%</td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>