<div class="candidate-tables">
  <% @district_history.each do |district_year| %>
    <div class="candidates-table district-data show-<%= district_year[:district].election.year %>">
      <br>
      <div class="district-candidates">
        <table width="100%">
          <thead>
            <th width="40%">Candidate</th>
            <th width="20%">Party</th>
            <th width="20%">Total Votes</th>
            <th width="20%">Percent</th>
          </thead>
          <% district_year[:candidates].each_with_index do |ced, index| %>
            <tr>
              <% if index == 0 && district_year[:district].election.year != Election.current_election_year %>
                <td><%= ced.candidate.name %> <i class="fa fa-trophy" aria-hidden="true"></i></td>
              <% else %>
                <td><%= ced.candidate.name %></td>
              <% end %>
              <td><%= ced.candidate.party.abbr %></td>
              <td><%= ced.votes_total %></td>
              <td><%= ced.votes_percent %>%</td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>