<div class="donut-graphs">
<% @district_history.each do |district_year| %>
  <div class="donut-graph district-data show-<%= district_year[:district].election.year %>" id="stats-<%= district_year[:district].election.year %>"></div>
  <script>
    var graphData = <%= district_year[:json_donut][:data] %>;
    var colors = <%= district_year[:json_donut][:colors] %>;
    if (graphData[0].value === 0) {
      graphData = [{label: "TBD", value: 1}];
      colors = ['#DCDCDC'];
    }

  graph = $('#stats-<%= district_year[:district].election.year %>')
  if (graph.find('svg').length === 0) {
    Morris.Donut({
      element: "stats-<%= district_year[:district].election.year %>",
      data: graphData,
      colors: colors
    });
  }
  </script>
<% end %>
</div>