<% @district.elections.each do |e| %>
  <%= e.year %><br>
  <% ceds = CandidateElectionDistrict.where(district_id: @district.id, election_id: e.id).order(votes_total: :desc) %>
  <table>
    <thead>
      <th>Candidate</th>
      <th>Party</th>
      <th>Total Votes</th>
      <th>Percent</th>
    </thead>
    <% ceds.each do |ced| %>
      <tr>
        <% candidate = Candidate.find(ced.candidate_id) %>
        <td><%= candidate.name %></td>
        <td>(<%= candidate.party.abbr %>)</td>
        <td><%= ced.votes_total %></td>
        <td><%= ced.votes_percent %>%</td>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>