<!-- District boundary data is only available for current election. Only create map if district exists in current election -->

<div id="buffer"></div>
<div class="container body-container district-show-container">
  <div class="top-margin"></div>
  <h1><%= @district.name %></h1>
  <% if @district.elections[0].year == Election.current_election_year %>
    <div id="map"></div>
    <%= render 'district_map', district: @district %>
    <div class="tips">
      <span>
      Click the map to change district.<br/>
      Click the buttons below to change year.
      </span>
    </div>
  <% else %>
    <h5>District map only available for districts that exist in the 2017 election</h5>
  <% end %>
  <div class="addthis_inline_share_toolbox"></div>
  <div class="row">
    <div class="one-half column">
      <div class="district-header">
        <div class="district-titles">
          <% @district_history.each do |district_year| %>
            <div class="district-title district-data show-<%= district_year[:district].election.year %>">
              <h4><%= district_year[:district].district.name %></h4>
            </div>
          <% end %>
        </div>
        <div class="year-tabs">
          <% @district_history.each do |district_year| %>
            <button class="button year-tab"><%= district_year[:district].election.year %></button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="one-half column">
      <%= render 'district_elections_donut_graph', district: @district_history %>
    </div>
  </div>

  <div class="row">
    <div class="one-full column">
      <%= render 'district_elections_table_candidates', district: @district_history %>
    </div>
  </div>
  <div class="row">
    <div class="one-half column graph-column">
      <%= render 'district_elections_graph_candidates', district: @district_history %>
    </div>
    <div class="one-half column graph-column">
      <%= render 'district_elections_graph_stats', district: @district_history %>
    </div>
  </div>
</div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-590931e84018f1e1"></script>