<!-- District boundary data is only available for current election. Only create map if district exists in current election -->

<div class="container body-container">

  <h1 class="top-header"><%= @district.name %></h1>
<% if @district.elections[0].year == Election.current_election_year %>
  <div id="map"></div>
  <%= render 'district_map', district: @district %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_JS_API_KEY']%>&callback=initMap">
  </script>
<% else %>
  <h3>District map only available for districts that exist in current election</h3>
<% end %>

<%= render 'district_elections_graphs', district: @district %>
<%= render 'district_elections_tables', district: @district %>