<!-- District boundary data is only available for current election. Only create map if district exists in current election -->

<div class="container body-container">

  <h1 class="top-header"><%= @district.name %></h1>
  <% if @district.elections[0].year == Election.current_election_year %>
    <div id="map"></div>
    <%= render 'district_map', district: @district %>
  <% else %>
    <h3>District map only available for districts that exist in current election</h3>
  <% end %>

  <h1><%= @district.name %></h1>

  <%= render 'district_elections_graphs', district: @district_history %>
  <%= render 'district_elections_tables', district: @district_history %>