<div class="party-table">
  <table width="100%">
    <thead>
      <th width="35%">Party</th>
      <th width="10%">Abbr</th>
      <th width="15%">Total Votes</th>
      <th width="10%">Popular Vote</th>
      <th width="10%">Candidates Running</th>
      <th width="10%">Seats Won</th>
    </thead>
    <% party_stats.each do |ep| %>
      <tr>
        <td><i class="fa fa-square" aria-hidden="true" style="color:<%= ep.party.color %>"></i> <%= ep.party.name %></td>
        <td><%= ep.party.abbr %></td>
        <td><%= ep.votes_total %></td>
        <td><%= ep.votes_percent %>%</td>
        <td><%= ep.candidates_running %></td>
        <td><%= ep.seats_won %></td>
      </tr>
    <% end %>
  </table>
</div>