<div class="party-table">
<span class="explanation">* Seats Won / Candidates Running </span>
  <table width="100%">
    <thead>
      <th width="1%"></th>
      <th width="34%">Party</th>
      <th width="10%">Abbr.</th>
      <th width="15%">Total Votes</th>
      <th width="10%">Popular Vote</th>
      <th width="20%">SW/CR*</th>
    </thead>
    <% party_stats.each do |ep| %>
      <tr>
        <td><i class="fa fa-square" aria-hidden="true" style="color:<%= ep.party.color %>"></i></td>
        <td><%= ep.party.name %></td>
        <td><%= ep.party.abbr %></td>
        <td><%= number_with_delimiter(ep.votes_total, :delimiter => ",") %></td>
        <td><%= ep.votes_percent %>%</td>
        <td><%= ep.seats_won %> / <%= ep.candidates_running %></td>
      </tr>
    <% end %>
  </table>
</div>