<h5>Major Party Leaders</h5>
<div class= "party-leaders">
  <table width="100%">
    <% @leaders.each do |pl| %>
      <tr>
        <td width="2%">
          <i class="fa fa-square" aria-hidden="true" style="color:<%= pl.party.color %>"></i>
        </td>
        <th>
          <%= pl.party.abbr %>
        </th>
        <td>
          <%= pl.name %>
          <% if @premier && pl.id == @premier.id %>
            <i class="fa fa-trophy" aria-hidden="true"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<h5>Election Stats</h5>
<div class="election-stats">
  <table width="100%">
    <tbody>
      <tr>
        <th>Number of Seats</th>
        <td><%= @election.seats %></td>
      </tr>
      <tr>
        <th>Voter Turnout</th>
        <td><%= @election.voter_turnout %>%</td>
      </tr>
      <tr>
        <th>Registered Voters</th>
        <td><%= number_with_delimiter(@election.voters_registered, :delimiter => ",") %></td>
      </tr>
      <tr>
        <th>Total Votes</th>
        <td><%= number_with_delimiter(@election.total_votes, :delimiter => ",") %></td>
      </tr>
      <tr>
        <th>Valid Ballots</th>
        <td><%= number_with_delimiter(@election.ballots_valid, :delimiter => ",") %></td>
      </tr>
      <tr>
        <th>Rejected Ballots</th>
        <td><%= number_with_delimiter(@election.ballots_rejected, :delimiter => ",") %></td>
      </tr>
    </tbody>
  </table>
</div>