<% if request.original_fullpath == "/election/#{Election.current_election_year}" || request.original_fullpath == "/" %>
  <%= render 'layouts/parallax' %>
<% end %>
<div class="container body-container">
<div id="election-anchor"></div>
<div class="buffer"></div>
    <h1><%= @election.year %> Election</h1>
    <h5>Major Party Leaders</h5>
    <% @leaders.each do |pl| %>
      <%= pl.name %>
      <%= pl.party.abbr %>
      <% if @premier && pl.id == @premier.id %>
        <i class='fa fa-trophy' aria-hidden='true'></i>
      <% end %>
      <br/>
    <% end %>
  <div class="one-half column">
    <% if @election.year == Election.current_election_year %>
      <%= render :partial => '/district/district_list', :locals => {election_districts: @election_districts} %>
    <% else %>
      <%= render :partial => '/district/district_election_list', :locals => {election_districts: @election_districts} %>
    <% end %>
  </div>
  <div class="one-half column">

  </div>
</div>