<h1><%= @election.year %></h1>

<br>

<br>
<% @leaders.each do |pl| %>
  <%= pl.name %>
  <%= pl.party.abbr %>
  <% if @premier && pl.id == @premier.id %>
    <%= "(ELECTED!)" %>
  <% end %>
  <br>
<% end %>
<%= render :partial => '/district/district_list', :locals => {districts: @districts} %>