<%= render 'layouts/parallax' %>
<div class="container body-container">
    <h1><%= @election.year %> Election</h1>
    <h5>Major Party Leaders</h5>
    <% @leaders.each do |pl| %>
      <%= pl.name %>
      <%= pl.party.abbr %>
      <% if @premier && pl.id == @premier.id %>
        <%= "(ELECTED!)" %>
      <% end %>
      <br/>
    <% end %>
  <div class="one-half column">
    <%= render :partial => '/district/district_list', :locals => {districts: @districts} %>
  </div>
  <div class="one-half column">

  </div>
</div>