<div id="buffer"></div>
<div class="container body-container">
  <div class="top-margin"></div>
  <div class="about">
    <h1>About Us</h1>
    <p>
      Created as a final project for <%= link_to "Lighthouse Labs", "https://lighthouselabs.ca/" %>, Vote-BC is a data visualization application for BC election data. Frustrated and confused by a lack of consistency and accessibility of BC election data, we decided to aggregate it all into one web app. We retrieved most of the election data from .xls spreadsheets released by Elections BC, which of course were formatted with <span class="its-a-trap">immaculate consistency</span>.
    </p>
    <p>
      Other information was gathered by cross-referencing dozens of other websites and Wikipedia articles. District boundary information was retrieved from the Represent project at Open North. We combined this data with the Google Maps API to create the address/postal code search and the dynamic maps.
    </p>
    <br>
    <p>
      If you have any questions, comments, or suggestions please reach us at <a href="mailto:contact@vote-bc.ca">contact@vote-bc.ca</a>
    </p>
    <img id="yao" src="http://www.freepngimg.com/thumb/yao_ming_face/3-2-yao-ming-face-png-thumb.png" alt="Yao Ming Laugh" height="80px">
  </div>
  <div class="created-by">
    <h4>Created By</h4>
    <%= link_to raw("<i class='fa fa-github' aria-hidden='true'></i> Noel Anstey"), "https://github.com/nanstey", class: 'button'  %>
    <%= link_to raw("<i class='fa fa-github' aria-hidden='true'></i> Couragyn Chretien"), "https://github.com/Couragyn", class: 'button'  %>
    <%= link_to raw("<i class='fa fa-github' aria-hidden='true'></i> Dace Hunter"), "https://github.com/Sporradik", class: 'button' %>
  </div>
  <div class="tech-specs">
    <h4>Technologies</h4>
  <div class="git-hub">
    <a href="https://github.com/nanstey/vote_bc" target="_blank">
      <h6>
        Check out the repository on
        <img src=<%= asset_path "github.png" %> alt="Github" height="15px">
      </h6>
    </a>
  </div>
    <div class="stack">
      <a href="http://rubyonrails.org/" target="_blank">
        <img src=<%= asset_path "rails.png" %> alt="Rails" height="50px">
      </a>
      <a href="http://getskeleton.com/" target="_blank">
        <img src=<%= asset_path "skeleton-retina.png" %> alt="Skeleton" height="50px">
      </a>
      <a href="https://jquery.com/" target="_blank">
        <img src=<%= asset_path "jquery.png" %> alt="jquery" height="50px">
      </a>
      <a href="http://rspec.info/" target="_blank">
        <img src=<%= asset_path "rspec.png" %> alt="rspec" height="50px">
      </a>
      <a href="https://www.postgresql.org/"  target="_blank">
        <img src=<%= asset_path "PostgreSQL.png" %> alt="PostgreSQL" height="50px">
      </a>
    </div>
    <div class="api">
      <a href="http://elections.bc.ca/" target="_blank">
        <img src=<%= asset_path "elections.png" %> alt="elections.bc" height="50px">
      </a>
      <a href="https://represent.opennorth.ca/" target="_blank">
        <img src=<%= asset_path "opennorth.png" %> alt="opennorth" height="50px">
      </a>
      <a href="https://developers.google.com/maps/" target="_blank">
        <img src=<%= asset_path "Google_Maps_logo_wordmark.png" %> alt="Google_Maps" height="50px">
      </a>
    </div>
    <div class="hosting">
      <a href="https://www.heroku.com/" target="_blank">
        <img src=<%= asset_path "heroku.png" %> alt="Heroku" height="50px">
      </a>
    </div>
  </div>
</div>